.header{
  background-color: #4267b2;
  width: 100%;
  height: 5.3vh;
  display: flex;
  align-items: center;
  z-index: -10;
}

.header-facebook-icon{
  color: #fff;
  font-size: 3.4vh;
  margin-left: 2vw;
}

.header-search-box{
  position: relative;
  width: 450px;
  height: 3vh;
  border: solid 1px #3b5998;
  border-radius: 3px;
  margin-left: 12.9px;
}

/*.header-search-box *{
  z-index:-1;
}*/

.header-search{
  position: absolute;
  width: 405px;
  height: 100%;
  border: none;
  padding: 0;
}

.header-submit{
  position: absolute;
  left: 405px;
  width: 45px;
  height: 100%;
  border: none;
  background-color: #e9ebee;
}

.header-search-icon{
  position: absolute;
  top:20%;
  right: 3%;
  color: #4b4f56;
}

.header-nav{
  display: flex;
  color: #fff;
  font-size: 12px;
  margin-left: 80px;
}

.header-nav-left{
  display: flex;
}

.header-nav-left > div{
  height: 3vh;
  padding: 0 13px;
  border-left: solid 1px #365899;
  border-radius: 3px;
}

.header-nav-left > div > p{
  line-height: 22px;
}

.header-nav-left > div:first-child{
  border:  none;
}

.header-nav-left > div:hover{
  background-color: #365899;
}

.header-nav-me{
  display: flex;
}

.header-nav-me-icon{
  font-size: 15px;
  margin: auto 0;
}

.header-nav-me-name{
  margin-left: 5px;
}

.header-nav-right{
  display: flex;
  color: #1d2129;
  font-size: 20px;
}

.header-nav-right-left{
  padding: 0 10px 0 18px;
}

.header-nav-right-left:first-child{
  border-right: solid 1px #365899;
}

.header-nav-right-left > i{
  margin: 0 3px;
}

.header-nav-right-left > i:hover{
  color: #000;
}

.header-nav-right-right{
  margin-left: 10px;
}